.col-md-8{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.image{
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calendar-heading{
  text-align: center;
}
.simple-calendar{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.show{
  font-family: 'Kaisei Decol', serif;
}