<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @poops do |date, poops| %>
  <div class=day_font>
    <%= date.day %>
  </div>

  <% poops.each do |poop| %>
    <%if poop.state.id == 2 %>
      <%= image_tag "普通.png", size: "50x50" %>
    <% end %>
  <% end %>
<% end %>
</div>
</div>
</div>