<div class="show_index">
  <br>
  <div class="text_center">
    編集してください
  </div>
  <br>
  <%= form_with(model: @human, local: true) do |f| %>

    <div class="text_center">
      <div class="form-tag">
        名前
      </div>
      <%= f.text_field :name %>
    </div>
    <div class="text_center">
      <div class="form-tag">
        種類
      </div>
      <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
    <br>
    <div class='text_center'>
      <%= f.submit %>
    </div>
  <% end %>
</div>
