.header__bar {
  width: 100vw;
  height: 20vh;
  background-color: aqua;
  display: flexbox
}

.grid-6 {
  font-family: 'Kaisei Decol', serif;
  font-size: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bar{
  width: 100vw;
  height: 20vh;
  background-color: aqua;
  display: flexbox
}