.header__bar {
  width: 100vw;
  height: 25vh;
  background-color: aqua;
  display: flexbox
}

.grid-6 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer__bar{
  width: 100vw;
  height: 50px;
  background-color: aqua;
  display: flexbox
}

.logo{
  object-fit: contain;
  width: 40vw;
  height: 200px;
}